<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard</title>
  </head>
  <body>
    <% if (login) { %>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <text class="navbar-brand" href="#">Administrador</text>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/admin/dashboard/employee">Empleados</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/admin/dashboard/tasks">Tareas</a>
                    </li>
                  </ul>
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><i class='bx bx-search'></i></button>
                    <a class="btn btn-outline-danger" href="logout"><i class='bx bx-door-open' ></i></a>
                  </form>
                </div>
              </div>
          </nav>
          <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Nueva Actividad</div>
                <div class="card-body">
                    <form action="/save" method="POST">
                        <div class="mb-3">
                            <label for="user" class="form-label">Titulo</label>
                            <input type="text" class="form-control" id="title" name="pro_title" tabindex="1">
                        </div>  
                        <div class="mb-3">
                            <label for="user" class="form-label">Descripcion</label>
                            <input type="text" class="form-control" id="description" name="pro_description" tabindex="1">
                        </div>   
                        <div class="mb-3">
                            <label for="user" class="form-label">Encargado</label>
                            <select id="employee" name="employee" class="form-select" aria-label="Default select example" tabindex="2">
                                <% results.forEach((user) => { %>
                                <option value="admin" selected><%= user.employee_name %></option>
                                <% }) %>               
                            </select>
                        </div>                                   
                        <button type="submit" class="btn btn-primary" tabindex="5">Asignar</button>
                        <a href="/" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
                </div>        
            </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <%} else { %>
        <h1><strong><%= name %></strong></h1>
        <a href="/" class='a-login-admin'>Salir</a>
    <% } %>
  </body>
</html>